<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSZ8Pdsz3GfBF0z3R8HK5M1SMmfTQNux8</string>
	<key>GCM_SENDER_ID</key>
	<string>277429609000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etqab</string>
	<key>PROJECT_ID</key>
	<string>etqan-center</string>
	<key>STORAGE_BUCKET</key>
	<string>etqan-center.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277429609000:ios:6d87e3f482e09eee104b1d</string>
	<key>DATABASE_URL</key>
	<string>https://etqan-center-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>